@model IEnumerable<CoreGenericRepo.Models.Entity.MovieType>

<br />
<br />
<div class="border p-4 bg-white">
    <div class="row">
        <div class="col-10">
            <h2 class="text-info">Tür Listesi</h2>
        </div>
        <div class="col-2">
            <a class="btn btn-info form-control" asp-action="Insert">Tür Ekle</a>
        </div>
    </div>
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tbody>
                    <tr class="table-secondary">
                        <th>Tür ID</th>
                        <th>Tür Adı</th>
                        <th colspan="3">İşlemler</th>


                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@item.MovieTypeID</td>
                    <td>@item.MovieTypeName</td>

                    <td>
                        <a class="btn btn-primary text-white" asp-action="Update" asp-route-id="@item.MovieTypeID">Update</a>
                        <a class="btn btn-danger text-white" asp-action="Detail" asp-route-id="@item.MovieTypeID">Detail</a>
                        <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.MovieTypeID">Delete</a>


                    </td>
                </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Kayıt Bulunamadı!</p>
        }

    </div>
</div>